/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Luckiest+Guy:wght@200;300;400;500;600;700&family=Sen:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: #fff;
    font-family: 'Sen', monospace;
}



h1 {
    font-family: 'Luckiest Guy', sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: #252525;
}

a {
    color: #252525;
}

header h1 a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: #252525;
}

#navbar {
    background-color:  #d3b928;
    padding: 0 1rem;
    position: relative;
    width: 100%;
    height: 5rem;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    padding: 1rem;
}

#navbar img {
    max-width: 3rem;
    max-height: 3rem;
}

#navbar i {
    color: #252525;
}

nav {
    background-color: #d3b928;
    position: absolute;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
    border-left: 2px solid #252525;
    border-bottom: 2px solid #252525;
    border-radius: 0 0 5% 5%;
    right: 0;
}

#nav-items {
    list-style-type: none;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
}

#nav-items li {
    padding-right: 5px;
    padding-left: 5px;
}

#nav-items a {
    text-decoration: none;
    color: #252525;
}

/* nav toggle */
#nav-toggle:checked~nav {
    display: block;
    list-style-type: none;
}

#nav-toggle {
    display: none;
}

/* main */

main {
    background-color: #252525;
    flex: 1 0 auto;
    position: relative;
    
}

.formintro {
    
    background-color:#d4b94c;
    border-radius: 10px;
    padding: 1px 3px;
    text-align: center;
}

/* page header */
.downloadnews {
    text-align: center; 
    color:#fff;
}

.downloadnews i {
    color: #fff;
}

/* Form */

.signup {
    
    background-color:#d3b928;
    color: #252525;
    padding: 1.25rem 0rem;
    text-align: center;
    border-radius: 10px;
    display: block;
    border: 1px solid #d4b94c;
    box-shadow: 4px 4px 0px 0px black;
    margin-bottom: 5px;

}

.forminput {
    padding: 10px 0;
    
}

.formradio {
    margin-top: 5px;
}

.formbutton {
    background-color: #0DCAF0;
    margin: 10px;
    border-radius: 5px;
    padding: 3px 5px;
    box-shadow: 2px 2px;
}

/* iframe */

.iframebox {
   
   background-color:#d3b928;
   color: #252525;
   height: auto;
   padding: 20px;
   text-align: center;
   margin-bottom: 5px;
   border: 1px solid #d4b94c;
   border-radius: 10px;
   box-shadow: 4px 4px 0px 0px black;
}

.shopaddress p {
    margin: 0;
}

/* Footer */
footer {
    background-color: #d3b928;
    width: 100%;
    height: 3rem;
    bottom: 0;
}

.footer-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 12px;
}

.footer-icon i {
    font-size: 25px;
    color: #252525;
}

@media screen and (min-width: 280px) {
    h1 {
        font-size: 1.25rem;
        padding-left: 2rem;
    }

    #navbar nav {
        font-weight: bold;
    }
}

@media screen and (min-width: 320px) {
    h1 {
        font-size: 1.75rem;
        line-height: 1.75rem;
        padding-left: 2rem;
    }
}

@media screen and (min-width: 375px) {
    h1 {
        font-size: 1.75rem;
        line-height: 1.75rem;
        padding-left: 4rem;
    }
}

@media screen and (min-width: 425px) {
    h1 {
        font-size: 1.75rem;
        line-height: 1.75rem;
        padding-left: 0;
    }
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }

    #navbar i {
        /*padding-right: 2rem;*/
    }
}

@media screen and (min-width: 1024px) {
    /* nav toggle removed for tablets size */
    #nav-toggle:checked~nav, #nav-toggle, .nav-toggle-label {
        display: none;
    }

    #navbar nav {
        background-color:  #d3b928;
        position: relative;
        border: none;
        box-shadow: none;
        width: auto;
        z-index: 10;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        text-decoration: none;
        padding: 0;
        top: 0.3rem;
        font-weight: bold;
        font-size: 1.25rem;
    }

    /* #navbar a { */
        padding-left: 1rem;
    

    h1 {
        padding: 0;
    }

    #nav-items {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        flex-direction: row;
        align-content: center;
        text-decoration: none;
        margin: 0;
    }   

    #nav-items > li {
        padding: 0 1rem 0 1rem;
        border-right: 2px solid #252525;
    }

    #nav-items a {
        text-decoration: none;
        color: #252525;
    }

    li:nth-last-child(3) {
        border: none;
    }
}

@media screen and (min-width: 1440px) {
    #navbar a {
        padding-left: 2rem;
    }
}

