/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&family=Roboto+Mono:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #fff;
    font-family: 'Roboto Mono', monospace;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: #252525;
}

a {
    color: #252525;
}

header h1 a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: #252525;
}

#navbar {
    background-color: yellow;
    padding: 0 1rem;
    position: fixed;
    width: 100%;
    height: 5rem;
    box-shadow: 0 2px 2px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    padding: 1rem;
}

#navbar img {
    max-width: 3rem;
    max-height: 3rem;
}

#navbar i {
    color: #252525;
}

nav {
    background-color:#fff;
    position: absolute;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
    border-left: 2px solid #252525;
    border-right: 2px solid #252525;
    border-bottom: 2px solid #252525;
    border-radius: 0 0 5% 5%;
}

#nav-items {
    list-style-type: none;
    margin-bottom: 1rem;
    display: flex;
}

#nav-items a {
    text-decoration: none;
    color: #252525;
}

/* nav toggle */
#nav-toggle:checked~nav {
    display: block;
    list-style-type: none;
}

#nav-toggle {
    display: none;
}

/* main */

main {
    background-color: blue;
    flex: 1 0 auto;
}


/* Footer */
footer {
    background-color: red;
    width: 100%;
    height: 3rem;
}

#social-networks {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 12px;
}

@media screen and (min-width: 280px) {
    h1 {
        font-size: 1.25rem;
        padding-left: 2rem;
    }
}

@media screen and (min-width: 320px) {
    h1 {
        font-size: 1.75rem;
        line-height: 1.75rem;
        padding-left: 2rem;
    }
}

@media screen and (min-width: 375px) {
    h1 {
        font-size: 1.75rem;
        line-height: 1.75rem;
        padding-left: 4rem;
    }
}

@media screen and (min-width: 425px) {
    h1 {
        font-size: 1.75rem;
        line-height: 1.75rem;
        padding-left: 0;
    }
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 1024px) {
    /* nav toggle removed for tablets size */
    #nav-toggle:checked~nav, #nav-toggle, .nav-toggle-label {
        display: none;
    }

    #navbar nav {
        background-color: yellow;
        position: relative;
        border: none;
        box-shadow: none;
        width: auto;
        z-index: 10;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        text-decoration: none;
        padding: 0;
        top: 0rem;
    }

    h1 {
        padding: 0;
    }

    #nav-items {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        align-content: center;
        text-decoration: none;
        margin: 0;
    }   

    #nav-items > li {
        padding: 0 1rem 0 1rem;
        border-right: 2px solid #252525;
    }

    #nav-items a {
        text-decoration: none;
        color: #252525;
    }

    li:nth-last-child(3) {
        border: none;
    }
}